<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <input type="text" v-model="search" placeholder="cardId">
    <ul>
        <li v-for="item in searchList" :key="item.id">
            {{item.cardId}}----{{item.money}}--<button @click="del(item.id)">删除</button>
        </li>
    </ul>
    <input type="text" v-model="addForm.id"><br/>
    <input type="text" v-model="addForm.cardId"><br/>
    <input type="text" v-model="addForm.pwd"><br/>
    <input type="text" v-model="addForm.money"><br/>
    <button @click="add">添加</button>

</div>
<script src="js/vue.js"></script>
<script type="text/javascript">
    var vm=new Vue({
        el:"#app",
        data:{
            search:"",
            list:[
                {id: 1,cardId: "6225880287860549",pwd: "909090",money: 9000},
                {id: 2,cardId: "6225880287862345",pwd: "666666",money: 100},
                {id: 3, cardId: "6225880287861234",pwd: "888888",money: 5000},
                {id: 4,cardId: "6225880287860549",pwd: "909090",money: 9000},
                {id: 5,cardId: "6225880287862345",pwd: "666666",money: 100},
                {id:6,cardId: "6225880287861234",pwd: "888888",money: 5000},
                {id: 7,cardId: "6225880287860549",pwd: "909090",money: 9000},
                {id: 8,cardId: "6225880287862345",pwd: "666666",money: 100},
                {id: 9,cardId: "6225880287861234",pwd: "888888",money: 5000}
            ],
            addForm:{
                id:"",
                cardId:"",
                pwd:"",
                money:""
            }
        },
        computed:{
            searchList:function (){
                // var that=this;
                // this.list.filter(function (item){
                //     return item.cardId.indexOf(that.search)>=0
                // })

                var arr=[];
                for (let i=0;i<this.list.length;i++){
                    if(this.list[i].cardId.indexOf(this.search)>=0) {
                        arr.push(this.list[i]);
                    }
                }
                return arr;
            }
        },
        methods:{
            del:function (id){
                for (let i=0;i<this.list.length;i++){
                    if(this.list[i].id==id){
                        this.list.splice(i,1)
                        break;
                    }

                }
            },
            add:function (){
                var obj={...this.addForm};
                this.list.push(obj);
                this.addForm.id="";
                this.addForm.cardId="";
                this.addForm.pwd="";
                this.addForm.money="";
            }
        }
    })
</script>
</body>
</html>